*{
margin: 0;
padding: 0;  
}
#titulo{
    font-family: sans-serif;
    color: #1C1C1C;
    margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: #1C1C1C;
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    background-color:#C0C0C0;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color:#000000;
    display: block;
}
fieldset.grupo.campo{
    float: left;
    margin-right: 1em;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #696969;
    box-shadow: 2px 2px 2px #000000;
    display: block;
}
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campos select:focus, .campo textarea:focus{
    background: #D3D3D3;
}
.botao{
    font-size: 1.2em;
    background:#DCDCDC;
    margin-bottom: 1em;
    color:#000000;
    padding:0.2em 0.6em;
    box-shadow:2px 2px 2px #C0C0C0;
    text-shadow:1px 1px 1px #000000;
    position:absolute;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%, -50%);
}
.botao:hover{
    background: #708090;
    box-shadow: inset 2px 2px 2px #708090;
    text-shadow: none;
}
#check{
    display: inline-block;
}